pip install --trusted-host pypi.org --trusted-host files.pythonhosted.org pyspark==3.2.1

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json('data/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [8]:
df.columns

['age', 'name']

In [9]:
from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [10]:
data_schema = [StructField('age', IntegerType(), True),
              StructField('name', StringType(), True)]

In [11]:
final_struc = StructType(fields=data_schema)

In [12]:
df = spark.read.json('data/people.json', schema=final_struc)

In [13]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [14]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [15]:
df.select('name').show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [16]:
from pyspark.sql.functions import col, when

In [17]:
test =df.withColumn('col_age', col('age')*5)

In [20]:
test.show()

+----+---------+-------+
| age|test_name|col_age|
+----+---------+-------+
|null|  Michael|   null|
|  30|     Andy|    150|
|  19|   Justin|     95|
+----+---------+-------+

In [19]:
test = test.withColumnRenamed("name", "test_name")

In [29]:
test.show()

+----+---------+-------+
| age|test_name|col_age|
+----+---------+-------+
|null|  Michael|   null|
|  30|     Andy|    150|
|  19|   Justin|     95|
+----+---------+-------+

### SQL

In [30]:
test.createOrReplaceTempView("people")

In [31]:
spark.sql(""" SELECT * FROM people """).show()

+----+---------+-------+
| age|test_name|col_age|
+----+---------+-------+
|null|  Michael|   null|
|  30|     Andy|    150|
|  19|   Justin|     95|
+----+---------+-------+